extends typescript

# React ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

snippet uses "React useState"
const [${1:thing}, ${2:set${1/\w?/\u$0/}}] = useState${4}(${3:undefined})
endsnippet

snippet react "React functional component"
import * as React from "react"

interface Props {
	${1:// TODO}
}

export default function ${3:`!p snip.rv = snip.basename`}(props: Props) {
	return (
		${2:<></>}
	)
}
endsnippet
